@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

* {
    outline: none;
    box-sizing: border-box;
    border-collapse: collapse;
}

html,
body {
    height: 100%;
    background: white;
    color: black;
    font-family: sans-serif;
}

canvas {
    background: white;
    margin: 1em;
}

code {
    background: rgba(128, 128, 128, 0.25);
    padding: 1px;
    border-radius: 2px;
}

a,
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

div#cols {
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    min-width: max-content;
    font-family: monospace;
}

form div {
    padding: 0.5em;
}

form div input {
    margin: 0.25em;
}

.red {
    background: rgba(255, 0, 0, 0.25);
}

.ylw {
    background: rgba(255, 255, 0, 0.25);
}

.grn {
    background: rgba(0, 255, 0, 0.25);
}

div#info.opened div#hide {
    display: block;
}

div#info.opened::after {
    content: "Double-click to collapse";
    cursor: pointer;
    text-decoration: underline;
}

div#info.closed div#hide {
    display: none;
}

div#info.closed::after {
    content: "Double-click to expand";
    cursor: pointer;
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background: black;
        color: white;
    }
}